*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navSection{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}