* {
  margin: 0;
  /* background-color: #e0e0e0; */
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Home */
.home-body {
  padding: 20px;
  background-color: whitesmoke;
}

#see-all {
  text-align: left;
  background-color: blue;
}

.home-body h1 {
  text-align: left;
  margin-bottom: 1.5rem;
}

.home-body h3 {
  text-align: right;
  margin-bottom: 1.5rem;
}

/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media only screen and (max-width: 767px) {
  .home-body {
    padding: 10px;
  }

  .home-body h1,
  .home-body h3 {
    text-align: center;
  }
}

/* Media query for screens between 768px and 1024px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-body {
    padding: 30px;
  }

  #see-all {
    text-align: center;
  }
}

/* Media query for screens larger than 1024px (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  .home-body {
    padding: 50px;
  }

  #see-all {
    text-align: right;
  }
}

.subHeader {
  position: relative;
  z-index: 5;
  margin-top: 6%;
  margin-bottom: 1px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 1px 1px #00000026;
}

.subHeaderInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-left: 10%;
}

.subHeaderItem-a {
  text-decoration: none;
}

.subHeaderItem-a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.subHeaderItem {
  display: flex;
  align-items: center;
  transition: 0.15s;
  flex-wrap: wrap;
  color: #1d1d1d;
  text-transform: uppercase;
  position: relative;
  z-index: 6;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 200;
}

.subHeaderItem:hover {
  border-bottom: 2px solid #4f245e;
}

.products-home {
  display: flex;
  vertical-align: baseline;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  min-height: 270px;
  overflow-x: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(79, 94, 167);
}

.products-home .product-card {
  margin-bottom: 20px;
}

.product-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.product-category h1,
.product-category button {
  display: inline-block;
  vertical-align: middle;
}

.product-category h1 {
  margin-left: 2rem;
}

.product-category button {
  margin-right: 8rem;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: large;
  font-weight: 400;
  cursor: pointer;
}

.product-category button:hover {
  text-decoration: underline;
}

.product-card {
  width: 250px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 18px;
  display: flex;
  overflow: hidden;
  margin-top: 5%;
  margin-left: 3%;
  max-height: 20px;
  background-color: white;
}
.product-card h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.product-card p {
  font-size: 18px;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: rgb(218, 22, 22);
  height: 3.6rem; /* Fixed height for the description */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  background-color: white;
}

.product-card p.price {
  font-weight: bold;
  height: auto; /* Reset height for the price */
}

.product-card button {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 12px 33px;
  color: purple;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: inherit;
  border: 2px solid #4f245e;
  border-radius: 8px;
  margin-top: 7px; /* Push the button to the bottom */
  margin-left: 10%;
  margin-bottom: 7px;
}

.product-card button:hover {
  background: #e8e3e8;
}

/* products */
.products-body {
  top: 200px;
  display: flex;
  padding: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.products-list .smartphones-electronics,
.products-list .laptops-electronics,
.products-list .mshirts-fashion,
.products-list .tops-fashion,
.products-list .sunglasses-fashion,
.products-list .wshoes-footwear,
.products-list .mshoes-footwear,
.products-list .wbags-fashion,
.products-list .wdresses-fashion,
.products-list .wjewellery-fashion,
.products-list .groceries-homeandliving,
.products-list .homedecor-homeandliving,
.products-list .lighting-homeandliving,
.products-list .furniture-homeandliving,
.products-list .fragrances-personalcare,
.products-list .skincare-personalcare,
.products-list .wwatches-accessories,
.products-list .mwatches-accessories,
.products-list .automotive-automotives,
.products-list .motorcycle-automotives {
  margin-left: 2rem;
  padding: 5px;
  margin-bottom: 2%;
  color: #3e516e;
  border-bottom: 2px solid rgb(112, 115, 145);
}

.products-list .smartphones-electronics h2,
.products-list .laptops-electronics h2,
.products-list .mshirts-fashion h2,
.products-list .tops-fashion h2,
.products-list .sunglasses-fashion h2,
.products-list .wshoes-footwear h2,
.products-list .mshoes-footwear h2,
.products-list .wbags-fashion h2,
.products-list .wdresses-fashion h2,
.products-list .wjewellery-fashion h2,
.products-list .groceries-homeandliving h2,
.products-list .homedecor-homeandliving h2,
.products-list .lighting-homeandliving h2,
.products-list .furniture-homeandliving h2,
.products-list .fragrances-personalcare h2,
.products-list .skincare-personalcare h2,
.products-list .wwatches-accessories h2,
.products-list .mwatches-accessories h2,
.products-list .automotive-automotives h2,
.products-list .motorcycle-automotives h2 {
  text-decoration: underline;
}

.products-list .smartphones-container,
.products-list .laptops-container,
.products-list .mshirts-container,
.products-list .tops-container,
.products-list .glasses-container,
.products-list .wshoes-container,
.products-list .mshoes-container,
.products-list .wbags-container,
.products-list .wdresses-container,
.products-list .jew-container,
.products-list .groceries-container,
.products-list .decoration-container,
.products-list .lighting-container,
.products-list .furniture-container,
.products-list .fragrence-container,
.products-list .skincare-container,
.products-list .mens-watches-container,
.products-list .womens-watches-container,
.products-list .automotives-container,
.products-list .motorcycles-container {
  display: flex;
  vertical-align: baseline;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  min-height: 270px;
  overflow: hidden;
}

.products-list .card {
  flex: 0 0 auto;
  width: 200px;
  height: 500px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.products-list .card:hover {
  transform: scale(1.05);
}

.products-list .card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.smartphones-products .card-info {
  padding: 16px;
}

/* Product details */

.product-details-body {
  padding: 35px;
  margin-left: 4rem;
}

.recommended-products-container {
  padding: 35px;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  min-height: 270px;
  overflow: hidden;
}

.recommended-products-container .add-to-cart {
  display: none;
}

.product-details-container {
  padding: 35px;
  display: flex;
  flex-direction: row;
  right: 4rem;
  justify-content: flex-start;
}

.product-image {
  flex: 0 0 auto;
  width: 100%;
  max-width: 500px;
  margin-right: 10rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.product-info {
  flex: 1 1 auto;
  max-width: 500px;
}

.product-info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-info p.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-info p.description {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.product-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-actions button {
  background-color: #475d77;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product-actions button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

/* Header */
.navSection {
  top: 0;
  left: 0;
  background: linear-gradient(to left, #3e516e, white);
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  align-items: center;
  z-index: 1000;
  padding: 10px 100px;
}

.navSection .title {
  /* display: flex; */
  justify-content: center;
}

.navSection .search-div {
  margin-left: -15%;
  display: flex;
  justify-content: center;
  width: 150%;
}

.navSection .user {
  display: flex;
  justify-content: center;
  width: 70%;
  gap: 8%;
}

.navSection .user .cart,
.navSection .user .userDetail {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.navSection .title img {
  margin-left: 8%;
  /* height: 10%; */
  width: 40%;
}

.navSection input:focus {
  outline: none;
}

/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media only screen and (max-width: 767px) {
  .navSection {
    padding: 10px 20px;
    height: 70px;
  }

  .navSection .user {
    width: 40%;
  }
}

/* Media query for screens between 768px and 1024px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navSection {
    padding: 10px 50px;
    height: 80px;
  }

  .navSection .user {
    width: 35%;
  }
}

.cart-page {
  padding: 35px;
  box-sizing: border-box;
  margin: 20px;
}

.cart-body {
  max-width: 80%;
  flex-direction: column;
  margin-left: 10%;
  min-height: 75vh;
  margin-top: 2rem;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-empty h1 {
  margin-top: -50px;
  z-index: 10;
}

.cart-empty img {
  width: 50%;
  height: 50%;
}

.cart-page h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart-items {
  display: inline;
  margin: 20px;
}

.cart-item {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin: 2rem;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1.5rem;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.cart-item-info p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.quantity-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.quantity-controls button {
  background-color: #f0f0f0;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.quantity-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity-controls span {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.search {
  background: #ffffff;
  border: 1px solid #c8cbcd;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
.search-category-all {
  width: 230px;
  display: flex;
  height: 26px;
  margin: 0 4px;
  padding: 2px 2px 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.search-bar-header {
  background: #ffffff;
  border: 1px solid #c8cbcd;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}

.search-category-current {
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.search-in-categories {
  font-family: blibli, -apple-system, segoe ui, roboto, helvetica, arial,
    sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  padding-bottom: 4px;
}

.search-drop-down {
  position: fixed;
  z-index: 1000;
  margin-left: 7%;
}

.search-categories {
  font-family: blibli, -apple-system, segoe ui, roboto, helvetica, arial,
    sans-serif;
  border: 1px solid #c8cbcd;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px 16px 16px;
  background-color: #fff;
  top: 52px;
  max-height: 270px;
  overflow: hidden;
}

.categories-menu {
  -webkit-column-count: 2;
  -moz-column-count: 3;
  column-count: 4;
}

.categories-menu-items {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  padding: 8px 12px 0 0;
  display: table;
  color: rgba(25, 34, 42, 0.7);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.categories-menu-items:hover{
  border-bottom: 2px solid #73abef;
  color: #73abef;
}

.search-category-all {
  width: 130px;
  height: 26px;
  margin: 0 4px;
  padding: 2px 2px 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.no-search-results img {
  width: -webkit-fill-available;
  height: 100%;
  width: 45%;
  align-items: center;
  margin-left: 27%;
}

.search-category-all:hover {
  color: #4f245e;
  background-color: #f2eff4;
}

/* @media screen and (min-width: 1024px)
.searchbox input{
    width: calc(100% - 190px);
} */
@media screen and (min-width: 1024px) {
  .search input {
    width: calc(100% - 190px);
  }
}

.search input {
  background: #ffffff;
  height: 30px;
  padding-left: 5px;
  border: none;
  color: #000;
  font: 14px / 18px blibli, -apple-system, segoe ui, roboto, helvetica, arial,
    sans-serif;
}

.search-icon {
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(red, green, blue);
  text-overflow: ellipsis;
}

@media screen and (min-width: 960px) {
  .searchbox-search {
    width: 36px;
    height: 36px;
  }
}

.searchbox-search {
  font-size: 14px;
  background-color: #4f245e;
  border-radius: 50%;
  padding: unset;
}

.searchbox-search svg {
  width: 18px;
  height: 18px;
}

.user {
  display: flex;
  align-items: center;
}

.userDetail,
.cart {
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.userDetail:hover,
.cart:hover {
  background-color: #e9ecef;
}

/* Sub Header */
.categories {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  padding: 1%;
}

/* Categories Modal*/
.modal {
  margin-top: 180px;
  height: 10px;
  position: fixed;
  display: flex;
  background-color: blue;
  margin-left: 20px;
  width: 120px;
}

.leftGroup:hover .modal {
  display: block; /* Display the modal on hover */
}

/* CategoriesModal */

.categories-container {
  display: flex;
  flex-direction: row; /* Display items in a column */
  gap: 20px;
}

.category {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.category h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.category-items {
  list-style: none;
  padding: 0;
}

.item {
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.item:hover {
  background-color: #f9f9f9;
}

/* Placeholder link styling (replace with actual navigation) */
.item a {
  text-decoration: none;
  color: #333;
}

.smartphones-container,
.laptops-container,
.mshirts-container,
.tops-container,
.glasses-container,
.wshoes-container,
.mshoes-container,
.wbags-container,
.wdresses-container,
.jew-container,
.groceries-container,
.decoration-container,
.lighting-container,
.furniture-container,
.fragrence-container,
.skincare-container,
.mens-watches-container,
.womens-watches-container,
.automotives-container,
.motorcycles-container {
  display: flex;
  overflow-x: hidden;
  padding: 10px 20px;
  gap: 2rem;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Scroll from left to right */
  }
}

.card {
  flex: 0 0 auto;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.card-info {
  flex: 1;
}

/* Optional: Add responsive styles */
@media screen and (max-width: 768px) {
  .categories-container {
    flex-wrap: nowrap;
  }
}

/* Carousel */
/* Center the carousel content */
.carousel-img {
  width: fit-content;
  height: 650px;
  display: block;
  transition: 0.15s;
}

.carousel-caption {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left: 35%;
  top: 70%;
  width: 100%;
  display: inline;
  font-weight: 800;
  font-family: segoe ui, roboto, helvetica, arial, sans-serif;
  height: 20px;
}

/* Style the caption text */
.carousel-caption p {
  font-size: 1.4rem;
  color: black;
  display: none;
  word-break: break-all;
  background-color: transparent;
}

.carousel-control-next {
  right: 0;
  background-color: red;
}

.carousel-item-container {
  position: relative;
  overflow: hidden; /* Add this line to prevent the button from being clipped */
}

.shop-button {
  position: absolute;
  top: 80%;
  height: 60px;
  margin-left: 80%;
  background-color: white;
  border: 2px solid black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.shop-button:hover {
  color: black;
}

/* footer */

.footer {
  background-color: #333;
  height: 200px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}

.copyright,
.developer {
  margin: 0;
  font-size: 14px;
}

.developer-link {
  color: #fff;
  text-decoration: none;
}

.developer-link:hover {
  color: #ccc;
}

/* modal.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
/* MiniCart component styles */
.mini-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

.mini-cart.show {
  opacity: 1;
  visibility: visible;
}

.mini-cart .modal-content {
  background-color: white;
  width: 400px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.mini-cart.show .modal-content {
  transform: translateX(0);
}

.mini-cart .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mini-cart .cart-content {
  flex-grow: 1;
  overflow-y: auto;
}

.mini-cart .total-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.mini-cart .buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.mini-cart .continue-shopping-button,
.go-to-cart-button,
.checkout-button,
.go-shopping {
  /* background-color: #f2f2f2; */
  /* border: none;
  padding: 8px 16px;
  cursor: pointer; */
  background-color: #475d77;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.mini-cart .continue-shopping-button:hover,
.go-to-cart-button:hover,
.go-shopping:hover,
.checkout-button:hover {
  background-color: #8ba2c0;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 35px;
}

.remove-button {
  background-color: #475d77;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.remove-button:hover {
  background-color: #8ba2c0;
}
.empty-cart img {
  height: 200px;
  width: 200px;
}

.search-results-container {
  padding: 35px;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

.search-results-products {
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  /* padding: 20px 50px; */
  gap: 120px;
  /* align-items: center; */
  justify-content: center;
}

.search-results-products button {
  display: none;
}

gl-app a,
.gl-app area,
.gl-app button,
.gl-app [role="button"],
.gl-app input,
.gl-app label,
.gl-app select,
.gl-app summary,
.gl-app textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}
.gl-cta--primary {
  background-color: var(--gl-color-background-inverse);
  border-color: var(--gl-color-border-inverse);
  color: var(--gl-color-text-inverse);
  height: 50px;
  font-family: var(--gl-button-font-set-family-functional-1),
    var(--gl-font-family-fallback);
  font-size: var(--gl-button-font-set-size-functional-1);
  font-style: var(--gl-button-font-set-style-functional-1);
  font-weight: var(--gl-button-font-set-weight-functional-1);
  letter-spacing: var(--gl-button-font-set-letterspacing-functional-1);
  line-height: var(--gl-button-font-set-lineheight-functional-1);
  -webkit-text-decoration: var(--gl-button-font-set-decoration-functional-1);
  text-decoration: var(--gl-button-font-set-decoration-functional-1);
  text-transform: var(--gl-button-font-set-case-functional-1);
  transform: translate(-3px, -3px);
}
.gl-cta {
  align-items: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  min-height: 50px;
  padding: 0 var(--gl-spacing-0150);
  position: relative;
  text-align: left;
  transition: transform var(--gl-motion-duration-transform-press)
      var(--gl-motion-easing-transform-press),
    color var(--gl-motion-duration-textcolor) var(--gl-motion-easing-textcolor);
  white-space: nowrap;
  width: auto;
}
.gl-app *,
.gl-app *:after,
.gl-app *:before {
  box-sizing: border-box;
}
